<article class="container">
			<h1 class="heading">Agregar Productos al Listado</h1>
			<div class="line"></div>
			<form class="form-section" action="/productos" method="POST">
				<div class="form-group">
					<label for="titulo">Titulo:</label>
					<input type="text" name="titulo" required />
				</div>
				<div class="form-group">
					<label for="precio">Precio:</label>
					<input type="number" name="precio" required />
				</div>
				<div class="form-group">
					<label for="url">URL:</label>
					<input type="text" name="url" required />
				</div>

				<button>Agregar producto</button>
			</form>
            <a href="/productos">Ir a productos</a>
    
		</article>