doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/styles/style.css")
		script(src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer) 
		script(src="/socket.io/socket.io.js" defer) 
		script(src="/script/index.js" type='module' defer) 
		script(src='https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js' defer)
		title Proyecto Final - Primera Entrega
	body 
		include partials/Navbar.pug
		include partials/productForm.pug
		include partials/productTable.pug
		include partials/fakeProductTable.pug
		include partials/chat.pug
