*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	background-color: rgba(37, 37, 37, 0.637);
}

.container {
	width: minmax(300px, 800px);
	margin-block: 25vh;
	margin-inline: auto;
	display: grid;
	place-content: center;
	gap: 2rem;
	background-color: whitesmoke;
	border-radius: 2rem;
	padding-block: 100px;
	box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.2);
}
.title {
	margin: auto;
}
.line {
	width: 90%;
	height: 1px;
	background-color: slategray;
	margin-inline: auto;
}

.heading {
	text-align: center;
}

.form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.form-group {
	display: flex;
	justify-content: space-between;
	padding-inline: 15px;
	align-items: center;
	width: 100%;
}

.label {
	font-weight: 500;
}

input {
	padding-inline: 10px;
	padding-block: 3px;
	border: 1px solid slategray;
	border-radius: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}

button {
	padding: 10px 10px;
	border-radius: 5rem;
	border: none;
	cursor: pointer;
	transition: 100ms ease-in-out;
	background-color: slategray;
	color: white;
	margin-top: 10px;
	box-shadow: 1px 2px 5px 1px whitesmoke;
}

button:hover,
button:focus-within {
	transform: scale(1.1);
}

button:active {
	transform: scale(0.9);
}

.product-table {
	width: 800px;
}
.table-row {
	text-align: center;
}
