section(class='grid grid-cols-auto m-8')
    each product in products
        article(class='card p-8 filter')
            img(src=product.url, alt="", srcset="" class='card--img')
            h2(class='card--title')=product.titulo
            div(class='spacing')
            div(class='flex-container')
                p(class='card--price')='$'+ product.precio
                form(action="", method="") 
                    button(type='submit' class='card--btn' id=product.id + '-btn')='Agregar'


