article(class='container' id='fake-products')
    h1(class='title')="Productos"
    div(class='line')
    section(class='product-table')
        div(class='product-table-row' id='fake-product-table')
            div(class='filler')
            h2='Producto'
            h2='Precio'
            h2='Imagen'
            div(class='filler')
