nav(class='navbar w-screen filter')
    ul(class='navbar--links')
        a(href="/") 
            li='Productos'
        //- a(href="/carrito")     
        //-     li='Carrito'
        //- a(href='/admin')
        //-     li='Admin'