<div>
	<article class='container' id='table'>
		<h1 class='title'>Productos</h1>
		<div class='line'></div>
		<table class="product-table">
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Precio</th>
				<th>Imagen</th>
			</tr>
			<tbody id='productTable'>
				{{#each productList as |producto|}}
                <tr class="table-row">
                    <td>{{producto.id}}</td>
                    <td>{{producto.titulo}}</td>
                    <td>${{producto.precio}}</td>
                    <td><img src="{{producto.url}}" alt="" style="width:2rem ;"></td>
                </tr>
                {{/each}}

			</tbody>

		</table>
		<a href='/'>Ir a Inicio</a>
	</article>
</div>